# Compiled class file
*.class

# Log file
*.log

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/dropwizard-react-server/classes/web/node/
/dropwizard-react-server/src/main/web/public/
/dropwizard-react-server/yarn.lock
/dropwizard-react-server/node_modules/
/release.properties
/nexus-data/
